---
- name: tmate repo key
  apt_key: keyserver=keyserver.ubuntu.com id=C3EBC003
  sudo: true

- name: tmate repo
  apt_repository: repo='ppa:nviennot/tmate'
  sudo: true

- name: latest git repo
  apt_repository: repo='ppa:git-core/ppa/ubuntu'
  sudo: true

- name: Install default packages
  apt: name={{item}} state=installed
  sudo: yes
  with_items:
    - tree
    - git
    - curl
    - wget
    - vim-nox
    - tmux
    - tmate
    - ack-grep
    - imagemagick

- name: Sync dotfiles
  copy: >
    src=dotfiles/
    dest=~/

- name: Setup Vundle
  git: >
    repo=https://github.com/VundleVim/Vundle.vim.git
    dest=~/.vim/bundle/Vundle.vim
    update=yes

- name: Determine whether vim plugins are already installed
  stat: path=~/.vim/bundle/nerdtree
  register: plugins

- name: Install Vim plugins
  command: vim +PluginInstall +qall
  when: not plugins.stat.exists

- name: Working dir
  file: path=~/workspace state=directory

- name: bash-git-prompt
  git: >
    repo=https://github.com/magicmonty/bash-git-prompt
    dest=~/.bash-git-prompt

- name: add bash-git-prompt to
  lineinfile: >
    dest=~/.profile
    line="GIT_PROMPT_THEME=Solarized_Ubuntu"
    state=present

- lineinfile: >
    dest=~/.profile
    line="source ~/.bash-git-prompt/gitprompt.sh"
    state=present

- lineinfile: >
    dest=~/.profile
    line="export EDITOR=/usr/bin/vim"
    state=present
