---
- name: Install google key
  shell: >
    wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -

- name: Setup repository
  sudo: yes
  lineinfile: >
    dest=/etc/apt/sources.list.d/google-chrome.list
    create=yes
    line='deb http://dl.google.com/linux/chrome/deb/ stable main'
    mode=0644

- name: Install Chrome
  sudo: yes
  apt: >
    name=google-chrome-stable 
    update_cache=yes
