[Desktop Entry]
Encoding=UTF-8
Name=Android Studio
GenericName=Android Studio
Comment=Android Studio 0.8
Type=Application
Categories=Application;
Icon=/home/{{ ansible_user_id }}/development/android-studio/bin/androidstudio.ico
Exec=/home/{{ ansible_user_id }}/development/android-studio/bin/studio.sh
